*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
  padding: 5vw;
  display: flex;
  flex-direction: column;
  font-family: system-ui, sans-serif;
  color: #1e1f19;
}
body a {
  color: #1e1f19;
  text-decoration: none;
}
body a:visited {
  color: inherit;
}
body hr {
  margin: 0 0 10px 0;
}
body .fa-linkedin {
  color: rgb(0, 125, 228);
}
body .fa-square-github {
  color: rgb(0, 0, 0);
}
body .fa-html5 {
  color: rgb(219, 89, 57);
}
body .fa-css3-alt {
  color: rgb(75, 103, 231);
}
body .fa-js {
  color: rgb(224, 216, 94);
}
body .fa-sass {
  color: rgb(219, 79, 196);
}
body .fa-git-alt {
  color: rgb(255, 52, 1);
}
body .fa-github {
  color: rgb(0, 0, 0);
}

header {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 10px;
}
header nav {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 3px 2vw;
}
header a {
  color: #1e1f19;
  margin: 5px;
}
header a:hover {
  text-decoration: underline;
}

section {
  margin: 5px 0 5px 0;
}

#introduction {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 3vw;
}
#introduction .sobre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3vw;
  background-color: #efdfd0;
}
#introduction .home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
#introduction .home .contact {
  display: flex;
  justify-content: space-around;
  width: 20%;
}
#introduction .home h1 {
  font-family: "Roboto Mono", monospace;
  font-size: 3em;
  text-decoration: underline;
}
#introduction .home h3 {
  font-size: 0.7em;
}

#project {
  display: flex;
  flex-direction: column;
  padding: 3vw;
  background-color: #efdfd0;
}
#project .areaProjetos {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#project .areaProjetos .cardProjeto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  background-color: #fff;
  width: 80%;
  overflow: hidden;
}
#project .areaProjetos .cardProjeto .imgPro {
  height: 70%;
  padding: 8px;
}
#project .areaProjetos .cardProjeto .imgPro img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}
#project .areaProjetos .cardProjeto h3 {
  height: 10%;
  margin: 15px 0 0 0;
  font-size: 25px;
}
#project .areaProjetos .cardProjeto .proTec {
  height: 20%;
  width: 90%;
  font-size: 50px;
  display: flex;
  flex-direction: row-reverse;
}

#skill {
  display: flex;
  flex-direction: column;
  padding: 3vw;
  font-size: 20px;
}
#skill .areaTec {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  justify-items: flex-start;
}
#skill .areaTec .cardTec {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
#skill .areaTec .cardTec i {
  font-size: 40px;
  margin-right: 15px;
}

footer {
  text-align: center;
}

@media (max-width: 500px) {
  #introduction {
    display: flex;
    flex-direction: column;
  }
  #project .areaProjetos {
    display: flex;
    flex-direction: column;
  }
  #project .areaProjetos a {
    display: flex;
    justify-content: center;
  }
  #skill .areaTec {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}/*# sourceMappingURL=style.css.map */